.main {
  
  /* min-height: 100vh; */
  padding-top: 110px;
}

.main2 {
  padding-top: 100px;
  /* min-height: 100vh; */
}


.nav-link{
  color: var(--text-color);
}
.nav-link:hover{
  color: rebeccapurple;
}
.hidden{
  display: none;
}